*{padding:0;margin:0;font-family:Tahoma,Verdana,Arial,Sans-Serif,Lucida Sans;color:#fff}
BODY{padding:20px;background:#000 url(/img/logoback.jpg?3) repeat-x 0 0}

B,h1,h2,h3,h4,h5,h6{font-weight:bold;}
H1{font-size:30px}
H2{font-size:25px}
H3{font-size:20px}
H4{font-size:14px}
H5{font-size:12px}
H6{font-size:10px}

P{margin:10px 0;font-size:16px}

